In [1]:
import pandas as pd

Data from [Kaggle](https://www.kaggle.com/gdaley/hkracing) user Graham Daley, containing two sets of data about horse information and race information.

In [2]:
runs = pd.read_csv('../data/runs.csv')
runs.head()

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_country,horse_type,horse_rating,...,time2,time3,time4,time5,time6,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,1,3917,10,0.0,8.00,3,AUS,Gelding,60,...,21.59,23.86,24.62,NaN,NaN,83.92,9.7,3.7,118,2
1,0,2,2157,8,0.0,5.75,3,NZ,Gelding,60,...,21.99,23.30,23.70,NaN,NaN,83.56,16.0,4.9,164,57
2,0,3,858,7,0.0,4.75,3,NZ,Gelding,60,...,21.59,23.90,24.22,NaN,NaN,83.40,3.5,1.5,137,18
3,0,4,1853,9,0.0,6.25,3,SAF,Gelding,60,...,21.83,23.70,24.00,NaN,NaN,83.62,39.0,11.0,80,59
4,0,5,2796,6,0.0,3.75,3,GB,Gelding,60,...,21.75,23.22,23.50,NaN,NaN,83.24,50.0,14.0,9,154

In [3]:
races = pd.read_csv('../data/races.csv')
races.head()

,race_id,date,venue,race_no,config,surface,distance,going,horse_ratings,prize,...,place_combination3,place_combination4,place_dividend1,place_dividend2,place_dividend3,place_dividend4,win_combination1,win_dividend1,win_combination2,win_dividend2
0,0,1997-06-02,ST,1,A,0,1400,GOOD TO FIRM,40-15,485000.0,...,6.0,NaN,36.5,25.5,18.0,NaN,8,121.0,NaN,NaN
1,1,1997-06-02,ST,2,A,0,1200,GOOD TO FIRM,40-15,485000.0,...,4.0,NaN,12.5,47.0,33.5,NaN,5,23.5,NaN,NaN
2,2,1997-06-02,ST,3,A,0,1400,GOOD TO FIRM,60-40,625000.0,...,13.0,NaN,23.0,23.0,59.5,NaN,11,70.0,NaN,NaN
3,3,1997-06-02,ST,4,A,0,1200,GOOD TO FIRM,120-95,1750000.0,...,10.0,NaN,14.0,24.5,16.0,NaN,5,52.0,NaN,NaN
4,4,1997-06-02,ST,5,A,0,1600,GOOD TO FIRM,60-40,625000.0,...,1.0,NaN,15.5,28.0,17.5,NaN,2,36.5,NaN,NaN

## Select features for modeling

In [4]:
runs_data = runs[['race_id', 'won', 'horse_age', 'horse_country', 'horse_type', 'horse_rating',
       'horse_gear', 'declared_weight', 'actual_weight', 'draw', 'win_odds',
       'place_odds', 'horse_id']]
runs_data.head()

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,place_odds,horse_id
0,0,0.0,3,AUS,Gelding,60,--,1020.0,133,7,9.7,3.7,3917
1,0,0.0,3,NZ,Gelding,60,--,980.0,133,12,16.0,4.9,2157
2,0,0.0,3,NZ,Gelding,60,--,1082.0,132,8,3.5,1.5,858
3,0,0.0,3,SAF,Gelding,60,--,1118.0,127,13,39.0,11.0,1853
4,0,0.0,3,GB,Gelding,60,--,972.0,131,14,50.0,14.0,2796

In [5]:
races_data = races[['race_id', 'venue', 'config', 'surface', 'distance', 'going', 'race_class', 'date']]
races_data.head()

,race_id,venue,config,surface,distance,going,race_class,date
0,0,ST,A,0,1400,GOOD TO FIRM,5,1997-06-02
1,1,ST,A,0,1200,GOOD TO FIRM,5,1997-06-02
2,2,ST,A,0,1400,GOOD TO FIRM,4,1997-06-02
3,3,ST,A,0,1200,GOOD TO FIRM,1,1997-06-02
4,4,ST,A,0,1600,GOOD TO FIRM,4,1997-06-02

In [6]:
# merge the two datasets based on race_id column
df = pd.merge(runs_data, races_data)
df.head()

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,place_odds,horse_id,venue,config,surface,distance,going,race_class,date
0,0,0.0,3,AUS,Gelding,60,--,1020.0,133,7,9.7,3.7,3917,ST,A,0,1400,GOOD TO FIRM,5,1997-06-02
1,0,0.0,3,NZ,Gelding,60,--,980.0,133,12,16.0,4.9,2157,ST,A,0,1400,GOOD TO FIRM,5,1997-06-02
2,0,0.0,3,NZ,Gelding,60,--,1082.0,132,8,3.5,1.5,858,ST,A,0,1400,GOOD TO FIRM,5,1997-06-02
3,0,0.0,3,SAF,Gelding,60,--,1118.0,127,13,39.0,11.0,1853,ST,A,0,1400,GOOD TO FIRM,5,1997-06-02
4,0,0.0,3,GB,Gelding,60,--,972.0,131,14,50.0,14.0,2796,ST,A,0,1400,GOOD TO FIRM,5,1997-06-02

## Check missing values

In [7]:
df.isnull().any()

race_id            False
won                False
horse_age          False
horse_country       True
horse_type          True
horse_rating       False
horse_gear         False
declared_weight    False
actual_weight      False
draw               False
win_odds           False
place_odds          True
horse_id           False
venue              False
config             False
surface            False
distance           False
going              False
race_class         False
date               False
dtype: bool

In [8]:
df.horse_country.isnull().value_counts(ascending=True)

True         2
False    79445
Name: horse_country, dtype: int64

In [9]:
df.horse_type.isnull().value_counts(ascending=True)

True         2
False    79445
Name: horse_type, dtype: int64

In [10]:
df.place_odds.isnull().value_counts(ascending=True)

True      3735
False    75712
Name: place_odds, dtype: int64

The amount of rows for missing values is relatively small, therefore we decided to drop these rows.

In [11]:
df.shape

(79447, 20)

In [12]:
df = df.dropna()
df.shape

(75710, 20)

## Basic information of the data

In [13]:
df.date = pd.to_datetime(df.date)
df.date.dtype

dtype('<M8[ns]')

In [14]:
min(df.date), max(df.date)
# 8-year duration

(Timestamp('1997-06-02 00:00:00'), Timestamp('2005-06-05 00:00:00'))

In [15]:
start_time = min(df.date).strftime('%d %B %Y')
end_time = max(df.date).strftime('%d %B %Y')
no_of_horses = df.horse_id.nunique()
no_of_races = df.race_id.nunique()

print(f'The dataset was collected from {start_time} to {end_time}, which contains information about {no_of_horses} horses and {no_of_races} races. ')

The dataset was collected from 02 June 1997 to 05 June 2005, which contains information about 4280 horses and 6047 races.

In [16]:
# drop the unnecessary columns
df = df.drop(columns=['horse_id', 'date'])
df.head()

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,place_odds,venue,config,surface,distance,going,race_class
0,0,0.0,3,AUS,Gelding,60,--,1020.0,133,7,9.7,3.7,ST,A,0,1400,GOOD TO FIRM,5
1,0,0.0,3,NZ,Gelding,60,--,980.0,133,12,16.0,4.9,ST,A,0,1400,GOOD TO FIRM,5
2,0,0.0,3,NZ,Gelding,60,--,1082.0,132,8,3.5,1.5,ST,A,0,1400,GOOD TO FIRM,5
3,0,0.0,3,SAF,Gelding,60,--,1118.0,127,13,39.0,11.0,ST,A,0,1400,GOOD TO FIRM,5
4,0,0.0,3,GB,Gelding,60,--,972.0,131,14,50.0,14.0,ST,A,0,1400,GOOD TO FIRM,5

In [17]:
df.columns

Index(['race_id', 'won', 'horse_age', 'horse_country', 'horse_type',
       'horse_rating', 'horse_gear', 'declared_weight', 'actual_weight',
       'draw', 'win_odds', 'place_odds', 'venue', 'config', 'surface',
       'distance', 'going', 'race_class'],
      dtype='object')

## Impute feature

In [18]:
df.horse_gear.value_counts(ascending=False)

--             56518
B               3098
TT              2590
TT/B            2350
H               1192
               ...
BO-/SR             1
TT1/H-/PC1         1
TT/B-/H1/V1        1
CO/H/SR            1
SB-/H              1
Name: horse_gear, Length: 760, dtype: int64

In [19]:
df.horse_gear.nunique()

760

For horse_gear column, we dicided to impute the data into 1 and 0 (with gear and no gear), rather than one-hot labeling (which will lead to numerous features).

In [20]:
def horse_gear_impute(cols):
    if cols == '--':
        return 0
    else: 
        return 1

In [21]:
df.horse_gear = df.horse_gear.apply(horse_gear_impute)

In [22]:
df.horse_gear.value_counts()

0    56518
1    19192
Name: horse_gear, dtype: int64

## One-hot encoding for categorical features

In [23]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,race_id,won,horse_age,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,place_odds,...,config_C+3,going_GOOD,going_GOOD TO FIRM,going_GOOD TO YIELDING,going_SLOW,going_SOFT,going_WET FAST,going_WET SLOW,going_YIELDING,going_YIELDING TO SOFT
0,0,0.0,3,60,0,1020.0,133,7,9.7,3.7,...,0,0,1,0,0,0,0,0,0,0
1,0,0.0,3,60,0,980.0,133,12,16.0,4.9,...,0,0,1,0,0,0,0,0,0,0
2,0,0.0,3,60,0,1082.0,132,8,3.5,1.5,...,0,0,1,0,0,0,0,0,0,0
3,0,0.0,3,60,0,1118.0,127,13,39.0,11.0,...,0,0,1,0,0,0,0,0,0,0
4,0,0.0,3,60,0,972.0,131,14,50.0,14.0,...,0,0,1,0,0,0,0,0,0,0

In [24]:
df.columns

Index(['race_id', 'won', 'horse_age', 'horse_rating', 'horse_gear',
       'declared_weight', 'actual_weight', 'draw', 'win_odds', 'place_odds',
       'surface', 'distance', 'race_class', 'horse_country_AUS',
       'horse_country_BRZ', 'horse_country_CAN', 'horse_country_FR',
       'horse_country_GB', 'horse_country_GER', 'horse_country_GR',
       'horse_country_IRE', 'horse_country_ITY', 'horse_country_JPN',
       'horse_country_NZ', 'horse_country_SAF', 'horse_country_USA',
       'horse_country_ZIM', 'horse_type_Colt', 'horse_type_Filly',
       'horse_type_Gelding', 'horse_type_Grey', 'horse_type_Horse',
       'horse_type_Mare', 'horse_type_Rig', 'horse_type_Roan', 'venue_ST',
       'config_A+3', 'config_B', 'config_B+2', 'config_C', 'config_C+3',
       'going_GOOD', 'going_GOOD TO FIRM', 'going_GOOD TO YIELDING',
       'going_SLOW', 'going_SOFT', 'going_WET FAST', 'going_WET SLOW',
       'going_YIELDING', 'going_YIELDING TO SOFT'],
      dtype='object')

## Features explanation:
won - whether horse won (1) or otherwise (0)<br/>
horse_age - current age of this horse at the time of the race<br/>
horse_rating - rating number assigned by HKJC to this horse at the time of the race<br/>
horse_gear - string representing the gear carried by the horse in the race. An explanation of the codes used may be found on the HKJC website.<br/>
declared_weight - declared weight of the horse and jockey, in lbs<br/>
actual_weight - actual weight carried by the horse, in lbs<br/>
draw - post position number of the horse in this race<br/>
win_odds - win odds for this horse at start of race<br/>
place_odds - place (finishing in 1st, 2nd or 3rd position) odds for this horse at start of race<br/>
surface - a number representing the type of race track surface: 1 = dirt, 0 = turf<br/>
distance - distance of the race, in metres<br/>
race_class - a number representing the class of the race<br/>
horse_country - country of origin of this horse<br/>
horse_type - sex of the horse, e.g. 'Gelding', 'Mare', 'Horse', 'Rig', 'Colt', 'Filly'<br/>
venue - a 2-character string, representing which of the 2 race courses this race took place at: ST = Shatin, HV = Happy Valley<br/>
config - race track configuration, mostly related to the position of the inside rail. For more details, see the HKJC website.<br/>
going - track condition. For more details, see the HKJC website.<br/>

In [25]:
df.shape

(75710, 50)

In [ ]:
df.to_csv('horse_racing_with_raceid.csv', index=False)